
<!DOCTYPE html>
<html class='no-js' lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
    <title>Node-StudentsCoursesManagementSystem</title>
    <link href="/css/application-a07755f5.css" rel="stylesheet" type="text/css" />
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/iconfont.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/ui.jqgrid.css">
    <link href="/css/jquery-ui-1.8.16.custom.css" rel="stylesheet" type="text/css">
    <link href="/css/tip-yellowsimple.css" rel="stylesheet" type="text/css">
  </head>
  <body class='main page'>
    <!-- Navbar -->
    <%- include('include/header') %> 

    <div id='wrapper'>
      <!-- Sidebar -->
      <%- include('include/sideBar') %>
      <!-- Tools -->
      <section id='tools'>
        <ul class='breadcrumb' id='breadcrumb'>
          <li class='active'>Courses</li>
          <li><a href="/admin/course/import">Import Courses</a></li>
          <li><a href="/admin/course/add">Add Course</a></li>
        </ul>
      </section>
      <!-- Content -->
      <div id='content'>
        <div class='panel panel-default'>
          <div class='panel-heading'>
            Lessions:
          </div>
          <div class="panel-body">
            <div class="row searchbox">
              <div class="col-lg-4">
                <input type="text" class="form-control" placeholder="search course here..." autofocus id="keywordtext">
              </div>
            </div>
            
            <!-- Use jqGrid to make a table --> 
            <table id="list"></table> 
            <div id="listnav"></div>
            <input type="button" class="btn btn-danger" value="delete" id="delbtn">
          </div>

          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
<!-- Footer -->
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/jquery.jqGrid.src.js"></script>
<script type="text/javascript" src="/js/grid.locale-en.js"></script>
<script type="text/javascript" src="/js/jquery.poshytip.js"></script>
<script>

    var lastsel3;
    // initialize table
    $("#list").jqGrid( {
          //datatype : "local",
          datatype : "json",
          url : "/course",
          colNames : [ 'cid','name','dayofweek','allow','number','teacher','brief'],
          colModel : [ 
                      {name : 'cid', index : 'cid',  width : 20 , key:true}, 
                      {name : 'name',index : 'name', width : 30 , editable : true}, 
                      {name : 'dayofweek',index : 'dayofweek', width : 20 , editable : true, edittype:"select",
                      editoptions : {
                              value : "2:周二; 3:周三; 5:周五"
                            }
                      }, 
                      {name : 'allow',index : 'allow', width : 100 , editable : true}, 
                      {name : 'number',index : 'number', width : 20 , editable : true}, 
                      {name : 'teacher', index : 'teacher',  width : 30 , editable : true},
                      {name : 'briefintro', index : 'briefintro',  width : 150 , editable : true, edittype:"textarea"}
                    ],
          rowNum : 10,
          rowList : [ 10, 20, 30],//how many rows u want to see in each page
          sortname : 'sid',
          pager : '#listnav',
          viewrecords: true,
          autowidth: true,
          height:400,
          multiselect : true,
          multiboxonly: true,
          // edit cell(with event)---method1
          onSelectRow : function(id) {
            if (id && id !== lastsel3) {
            jQuery('#list').jqGrid('restoreRow', lastsel3);
            jQuery('#list').jqGrid('editRow', id, true, allowChoose);
            lastsel3 = id;
            }
          }
          // edit cell(with event)---method2
          /*
          cellEdit: true, 
          afterEditCell: function(rowId, cellName, value, iRow, iCol){//use afterE...
	            //console.log("value",value)
              //console.log("rowId",rowId)
              allowChoose(rowId);
	        },*/
    })

    function allowChoose(id){
      console.log(123456);
      //css("background","red");
      $("#"+id+"_allow").hide();
      $("#"+id+"_allow").after(
        "<label><input type='checkbox' value='初一'/>初一</label><label><input type='checkbox' value='初二'/>初二</label><label><input type='checkbox' value='初三'/>初三</label><label><input type='checkbox' value='高一'/>高一</label><label><input type='checkbox' value='高二'/>高二</label><label><input type='checkbox' value='高三'/>高三</label>");

        //get allowed grade field
        var dataArr=$("#"+id+"_allow").val().split(",");
        //check them
        $.each(dataArr,function(kay,value){
          $("input[value="+value+"]").attr("checked",true);
        })

        //double bind.
        $("#"+id+"_allow").nextAll().change(function(){
          var checkedGrade=[];
          $("#"+id+"_allow").nextAll().find(":checked").each(function(){
              checkedGrade.push($(this).val());
          })
          console.log("checkedGrade",checkedGrade)
          $("#"+id+"_allow").val(checkedGrade.join(","));// put back the checked value to the grade field
        })

    }

    function showTip(coutent){
      $('#infotip').poshytip({
        className: 'tip-yellowsimple',
        content: coutent,
        showOn: 'none', 
        alignTo: 'target',
        alignX: 'inner-left',
        offsetX: 0,
        offsetY: 5
      });
      //$('#delbtn').click(function() { 
        //$('#infotip').poshytip('show').poshytip('showDelayed', 2000);
        $('#infotip').poshytip('show').poshytip('hideDelayed', 1000);
      //});
    }

    //bind("input",... realtime input captrue
    $("#keywordtext").bind("input",function(){
      //console.log($(this).val())
      var keyword=$(this).val();
      // send ajax request
      $("#list").jqGrid('clearGridData');  
      $("#list").jqGrid('setGridParam',{
                datatype:'json',
                postData:{'keyword':keyword}, //send data 
                }).trigger("reloadGrid");
    });

    $("#delbtn").click(function() {
      //console.log($("#list").jqGrid('getGridParam', 'selarrrow'));
      var arr=$("#list").jqGrid('getGridParam', 'selarrrow');
      if(!confirm("Be carefu, u really wanna delete these data？")){
        return;
      }
      $.ajax({
        "url" : "/course",
        "type" : "delete",
        "dataType": "json", 
        "traditional" : true,// this is very important
        "data" : {"arr" : arr},
        "success" : function(data){
           $("#list").trigger("reloadGrid");
           if(data.result == -1){
              alert("delete faile");
           }else{
             alert("success delete " + data.result + " documents data");
           }
        }
      })
    });
</script>
  </body>
</html>
