<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type"
        content="text/html; charset=UTF-8">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1">
    <title>ElectiveCoursesSystem-Admin</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <link href="/css/font-awesome.min.css" rel="stylesheet">

    <link href="/css/nprogress.css" rel="stylesheet">

    <link href="/css/custom.min.css" rel="stylesheet">
</head>

<body class="footer_fixed nav-md">
    <%- include('header') %> 

    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title"
                        style="border: 0;">
                        <a href="#" class="site_title"><i
                                class="fa fa-paw"></i>
                            <span>University</span></a>
                    </div>
                    <div class="clearfix"></div>

                    <div class="profile clearfix">


                    </div>

                    <br>

                    <div id="sidebar-menu"
                        class="main_menu_side hidden-print main_menu">
                        <div class="menu_section active">
                            <ul class="nav side-menu">
                                <li class="active">
                                    <a>
                                        <i class="fa fa-home"></i>
                                        Elective Status
                                    </a>
                                </li>
                                <li class=""><a><i
                                            class="fa fa-edit"></i>
                                        Students Management
                                    </a>
                                </li>
                                <li class=""><a><i
                                            class="fa fa-desktop"></i>
                                        Courses Management
                                    </a></li>
                                <li class=""><a><i
                                            class="fa fa-desktop"></i>
                                        Statement
                                    </a></li>

                            </ul>
                            </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="top_nav">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i
                                class="fa fa-bars"></i></a>
                    </div>
                    <nav class="nav navbar-nav">
                        <ul class=" navbar-right">
                            <li class="nav-item dropdown open"
                                style="padding-left: 15px;">
                                <a href="javascript:;"
                                    class="user-profile dropdown-toggle"
                                    aria-haspopup="true"
                                    id="navbarDropdown"
                                    data-toggle="dropdown"
                                    aria-expanded="false">
                                    <img src="./5555_files/img.webp"
                                        alt="">John Doe
                                </a>
                                <div class="dropdown-menu dropdown-usermenu pull-right"
                                    aria-labelledby="navbarDropdown"
                                    x-placement="bottom-start"
                                    style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(15px, 22px, 0px);">
                                    <a class="dropdown-item"
                                        href="javascript:;">
                                        Profile</a>
                                    <a class="dropdown-item"
                                        href="javascript:;">
                                        <span
                                            class="badge bg-red pull-right">50%</span>
                                        <span>Settings</span>
                                    </a>
                                    <a class="dropdown-item"
                                        href="javascript:;">Help</a>
                                    <a class="dropdown-item"
                                        href="https://colorlib.com/polygon/gentelella/login.html"><i
                                            class="fa fa-sign-out pull-right"></i>
                                        Log Out</a>
                                </div>
                            </li>
                            <li role="presentation"
                                class="nav-item dropdown open">

                                <ul class="dropdown-menu list-unstyled msg_list"
                                    role="menu"
                                    aria-labelledby="navbarDropdown1">
                                    <li class="nav-item">
                                        <a
                                            class="dropdown-item">
                                            <span
                                                class="image"><img
                                                    src="./5555_files/img.webp"
                                                    alt="Profile Image"></span>
                                            <span>
                                                <span>John
                                                    Smith</span>
                                                <span
                                                    class="time">3
                                                    mins
                                                    ago</span>
                                            </span>
                                            <span
                                                class="message">
                                                Film
                                                festivals
                                                used to be
                                                do-or-die
                                                moments for
                                                movie
                                                makers. They
                                                were
                                                where...
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a
                                            class="dropdown-item">
                                            <span
                                                class="image"><img
                                                    src="./5555_files/img.webp"
                                                    alt="Profile Image"></span>
                                            <span>
                                                <span>John
                                                    Smith</span>
                                                <span
                                                    class="time">3
                                                    mins
                                                    ago</span>
                                            </span>
                                            <span
                                                class="message">
                                                Film
                                                festivals
                                                used to be
                                                do-or-die
                                                moments for
                                                movie
                                                makers. They
                                                were
                                                where...
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a
                                            class="dropdown-item">
                                            <span
                                                class="image"><img
                                                    src="./5555_files/img.webp"
                                                    alt="Profile Image"></span>
                                            <span>
                                                <span>John
                                                    Smith</span>
                                                <span
                                                    class="time">3
                                                    mins
                                                    ago</span>
                                            </span>
                                            <span
                                                class="message">
                                                Film
                                                festivals
                                                used to be
                                                do-or-die
                                                moments for
                                                movie
                                                makers. They
                                                were
                                                where...
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a
                                            class="dropdown-item">
                                            <span
                                                class="image"><img
                                                    src="./5555_files/img.webp"
                                                    alt="Profile Image"></span>
                                            <span>
                                                <span>John
                                                    Smith</span>
                                                <span
                                                    class="time">3
                                                    mins
                                                    ago</span>
                                            </span>
                                            <span
                                                class="message">
                                                Film
                                                festivals
                                                used to be
                                                do-or-die
                                                moments for
                                                movie
                                                makers. They
                                                were
                                                where...
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <div
                                            class="text-center">
                                            <a
                                                class="dropdown-item">
                                                <strong>See
                                                    All
                                                    Alerts</strong>
                                                <i
                                                    class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>


            <div class="right_col" role="main"
                style="min-height: 917px;">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>Fixed Footer <small> Just
                                    add class
                                    <strong>footer_fixed</strong></small>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </div>
    <script src="/js/jquery.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/custom.min.js" type="da9211853b84e77b976e48a3-text/javascript"></script>
    <script src="/js/fastclick.js"></script>
    <script src="/js/jquery.mCustomScrollbar.concat.min.js" type="da9211853b84e77b976e48a3-text/javascript"></script>
    <script src="/js/nprogress.js"></script>
    <script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="da9211853b84e77b976e48a3-|49" defer=""></script>

</body>