
<!DOCTYPE html>
<html class='no-js' lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
    <title>Node-StudentsCoursesManagementSystem</title>
    <link href="/css/application-a07755f5.css" rel="stylesheet" type="text/css" />
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/iconfont.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/ui.jqgrid.css">
    <link href="/css/jquery-ui-1.8.16.custom.css" rel="stylesheet" type="text/css">
    <link href="/css/tip-yellowsimple.css" rel="stylesheet" type="text/css">
  </head>
  <body class='main page'>
    <!-- Navbar -->
    <%- include('include/header') %> 
    <div id='wrapper'>
      <!-- Sidebar -->
      <%- include('include/sideBar') %>
      <!-- Tools -->
      <section id='tools'>
        <ul class='breadcrumb' id='breadcrumb'>
          <li class='active'>Students</li>
          <li><a href="/admin/student/import">Import Students</a></li>
          <li><a href="/admin/student/add">Add Student</a></li>
        </ul>
      </section>
      <!-- Content -->
      <div id='content'>
        <div class='panel panel-default'>
          <div class='panel-heading'>
            All Students
          </div>
          <div class="panel-body">
            <div class="row searchbox">
              <div class="col-lg-4">
                <input type="text" class="form-control" placeholder="search student here..." autofocus id="keywordtext">
              </div>
              <div class="col-lg-7 text-right">
                <a class="btn btn-success"  href="/admin/student/download" >Download Excel</a>
               </div>
            </div>
            
            <!-- Use jqGrid to make a table --> 
            <table id="list"></table> 
            <div id="listnav"></div>
            <input type="button" class="btn btn-danger" value="delete" id="delbtn">
          </div>
        </div>
        <a id="infotip" class="infotip" href="#"></a>
      </div>

    </div>
    <!-- Footer -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/jquery.jqGrid.src.js"></script>
    <script type="text/javascript" src="/js/grid.locale-en.js"></script>
    <script type="text/javascript" src="/js/jquery.poshytip.js"></script>
    <script>
        var lastsel;
        // initialize table
        $("#list").jqGrid( {
              //datatype : "local",
              datatype : "json",
              url : "/student",
              colNames : [ 'sid', 'name', 'grade', 'initial password'],
              colModel : [ 
                          {name : 'sid', index : 'sid',  width : 100 , key:true}, 
                          {name : 'name',index : 'name', width : 100 , editable : true}, 
                          { 
                            name : 'grade', 
                            index : 'grade',  
                            width : 100 , 
                            editable : true,
                            edittype:"select",
                            editoptions : {
                              value : "junior 1:junior 1; junior 2:junior 2; junior 3:junior 3; senior 1:senior 1; senior 2:senior 2; senior 3:senior 3 "}
                            },
                          {name : 'password', index : 'password',  width : 100 , editable : true}
                        ],
              rowNum : 10,
              rowList : [ 10, 20, 30, 100 ],//how many rows u want to see in each page
              sortname : 'sid',
              pager : '#listnav',
              viewrecords: true,
              autowidth: true,
              height:400,
              multiselect : true,
              cellEdit: true,
              cellsubmit:"clientArray",
              afterSaveCell: function(rowid,cellname,value,iRow,iCol) {
                  //alert(rowid);
                  //console.log(rowid,name,val,iRow,iCol)
                  var sid =$("#list").getCell(rowid,0);
                  console.log(sid,cellname,value)
                  //send request here
                  $.post("/student/"+sid,{
                     cellname:cellname,
                     value:value
                  },function(data){
                    console.log("data",data.result)
                    var result=data.result;
                    if(result==1){
                      //alert("success")
                      showTip("success");
                    }else if(result==-1){
                      showTip("cant find this student")
                    }else if(result==-2){
                      showTip("database error")
                    }
                  })
              }    
        })

        function showTip(coutent){
          $('#infotip').poshytip({
            className: 'tip-yellowsimple',
            content: coutent,
            showOn: 'none',
            alignTo: 'target',
            alignX: 'inner-left',
            offsetX: 0,
            offsetY: 5
          });
          //$('#delbtn').click(function() { 
            //$('#infotip').poshytip('show').poshytip('showDelayed', 2000);
            $('#infotip').poshytip('show').poshytip('hideDelayed', 1000);
          //});
        }

        //bind("input",... realtime input captrue
        $("#keywordtext").bind("input",function(){
          //console.log($(this).val())
          var keyword=$(this).val();
          // send ajax request
          $("#list").jqGrid('clearGridData');  
          $("#list").jqGrid('setGridParam',{
                    datatype:'json',
                    postData:{'keyword':keyword}, //send data 
                    }).trigger("reloadGrid");
        });

        ////*********** this is a big hole, shit*************
        /*      
        $("#delbtn").click(function() {
          //console.log($("#list").jqGrid('getGridParam', 'selarrrow'));
          var arr=$("#list").jqGrid('getGridParam', 'selarrrow');
          $.ajax({
            type:"delete",
            url:"/student",
            data: {"arr":JSON.stringify(arr)},// pass a array to delete interface
            success:function(data){
              alert(data.result);

            } 
          })
        }); */

        $("#delbtn").click(function() {
          //console.log($("#list").jqGrid('getGridParam', 'selarrrow'));
          var arr=$("#list").jqGrid('getGridParam', 'selarrrow');
          if(!confirm("Be carefu, u really wanna delete these data？")){
            return;
          }
          $.ajax({
            "url" : "/student",
            "type" : "delete",
            "dataType": "json", 
            "traditional" : true,// this is very important
            "data" : {"arr" : arr},
            "success" : function(data){
               $("#list").trigger("reloadGrid");
               if(data.result == -1){
                  alert("delete faile");
               }else{
                 alert("success delete " + data.result + " documents data");
               }
            }
          })
        });

        $.get("/student",function(data){
           //console.log("123456",data)
           $.each(data.rows,function(index,item){
            //console.log("123456tiem",item)
            //console.log("123456tiem",$('#' + item.sid).find("td").eq(4).html());
            //$("#list").find("tr").eq(index).find("td").eq(4).html("hahahah")
            if(item.changedPassword){   
               $('#' + item.sid).find("td").eq(4).attr("disabled", "disabled").html("passwrod changed");
               
            }
            $('#' + item.sid).find("td").eq(4).change(function(){
              alert("You don't have authority to change this password, only this student can do it!")
              window.location.reload();
            })

           })
        })
    </script>

  </body>
</html>
