
<!DOCTYPE html>
<html class='no-js' lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
    <title>Node-StudentsCoursesManagementSystem</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/iconfont.css" rel="stylesheet" type="text/css">
  </head>
  <body class='main page'>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Node-StudentsCoursesManagementSystem</a>
          </div>
      
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Apply course</a></li>
              <li><a href="#">My course</a></li>
              <li><a href="/changePwd">Change password</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="">Hello,<%= name %>(<%= sid %>,<%= grade %> ),you have logged in successfully </a></li>
              <li ><a href="/logout">Logout </a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

      <div class="container">
        <div class="row">
          <table class="table" id="table">
            <tr>
              <th style="width: 120px;">cid</th>
              <th style="width: 120px;">name</th>
              <th style="width: 120px;">dayofweek</th>
              <th style="width: 120px;">number</th>
              <th style="width: 120px;">allow</th>
              <th style="width: 120px;">teacher</th>
              <th>briefintro</th>
              <th>apply</th>
            </tr>

          </table> 

        </div>

      </div>

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script>
      $.get("/checkCourseApplicable",function(results){


        $.get("/course",function(data){
          console.log(data)
          $.each(data.rows,function(index,item){
                var $tr = $("<tr></tr>");
                $tr.append("<td>" + item.cid +"</td>");
                $tr.append("<td>" + item.name +"</td>");
                $tr.append("<td>" + item.dayofweek +"</td>");
                $tr.append("<td>" + item.allow +"</td>");
                $tr.append("<td>" + item.number +"</td>");
                $tr.append("<td>" + item.teacher +"</td>");
                $tr.append("<td>" + item.briefintro +"</td>");
                $tr.append("<td><input type='button' value='' class='btn applyBtn' id='applyBtn" + item.cid + "' data-cid='" + item.cid + "' /></td>");  
                $("#table").append($tr);
  
                // change buttons status and style
                $("#applyBtn" + item.cid).val(results[item.cid]);
                if(results[item.cid] == "Course applicable"){
                  $("#applyBtn" + item.cid).addClass("btn-success");
                }else if(results[item.cid] == "Course Applied"){
                  $("#applyBtn" + item.cid).attr("disabled",true).after("<p><a href='javascript:void(0);' class='cancelbtn' data-role='cancel' data-cid=" + item.cid + ">Cancel here</a></p>")
                }else{
                  $("#applyBtn" + item.cid).attr("disabled",true);
                }

              });
        })
      })

      //when the element is created dynamically, we can use delegate 
      // apply courses
      $("#table").delegate(".applyBtn","click",function(){
        //alert($(this).attr("data-cid"))
        $.post("/applyCourse",{
          "cid":$(this).attr("data-cid")
        },function(data){
          if(data.result==1){
            alert("apply success")
            window.location.reload();
          }
        })
      });
      //cancel courses
      $("#table").delegate(".cancelbtn","click",function(){
        //alert($(this).attr("data-cid"))
        $.post("/cancelCourse",{
          "cid":$(this).attr("data-cid")
        },function(data){
          if(data.result==1){
            alert("cancel success")
            window.location.reload();
          }
        })
      });

    </script>
  </body>
</html>
