
<!DOCTYPE html>
<html class='no-js' lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
    <title>Node-StudentsCoursesManagementSystem</title>
    <link href="/css/application-a07755f5.css" rel="stylesheet" type="text/css" />
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/iconfont.css" rel="stylesheet" type="text/css"></head>
    
  </head>
  <body class='main page'>
    <!-- Navbar -->
    <%- include('../include/header') %> 
    <div id='wrapper'>
      <!-- Sidebar -->
      <%- include('../include/sideBar') %>
      <!-- Tools -->
      <section id='tools'>
        <ul class='breadcrumb' id='breadcrumb'>
          <li><a href="/admin/student">Students</a></li>
          <li><a href="/admin/student/import">Import Students</a></li>
          <li class='active'>Add Student</li>
        </ul>
      </section>
      <!-- Content -->
      <div id='content'>
        <div class='panel panel-default'>
          <div class='panel-heading'>
            Add Student
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-5">
                  <p>sid:</p>
                  <p>
                    <input type="text" class="form-control" id="sidTxt" checkValid>
                  </p>
                  <p>name:</p>
                  <p><input type="text" class="form-control" id="nameTxt" checkValid></p>
                  <p>grade:</p>
                  <p>
                    <select name="" class="form-control" id="gradeSelect" checkValid>
                      <option value="middle1">Please select your grade...</option>
                      <option value="middle1">middle1</option>
                      <option value="middle2">middle2</option>
                      <option value="middle3">middle3</option>
                      <option value="high1"  >high1</option>
                      <option value="high2"  >high2</option>
                      <option value="high3"  >high3</option>
                    </select
                 </p>
                 <p>initial password:</p>
                 <p><input type="text" class="form-control" id="passwordTxt" checkValid></p>
                 <p><input type="button" value="add" class="btn btn-success" id="submitbtn" disabled></p>
              </div>

            </div> 
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script>
      //contain all invalid info into a obj
      var invalid={
          "sid":true,
          "name":true,
          "grade":true,
          "password":true
      };

      //***********jquery extension*************
      $.fn.extend({
        "successTip":function(tip){
          //console.log(this);// ... n.fn.init [div#wrapper, context: div#wrapper], this is jquery obj
          // **********after--- jquery add dom sibling *************
          this.after($("<div class='alert alert-success myAlert' role='alert'>"+tip+"</div>"));         
        },
        "dangerTip":function(tip){
          this.after($("<div class='alert alert-danger myAlert' role='alert'>"+tip+"</div>"));         
        },
        "clearTip":function(){
          console.log(111111111111111111)
          this.nextAll(".alert").remove();
        }
      })
      /*
      $("div").each(function(){
        $(this).alertTip();  
      })*/

      // ----Validate sid
      $("#sidTxt").blur(function(){
        var _sid=$(this).val();//-sid is user input
        console.log("_sid",_sid);
        // regexp validation first
        if(!/^[\d]{9}$/.test(_sid)){
          invalid.sid=true;
          $(this).dangerTip("Could not pass regexp,Sid must be a nine-digit number!!!");
          return;
        }
        //*****validate if the sid has been used.
        $this=$(this);
        $.ajax({
          type:"propfind",
          url:"/student/"+$("input[name=sid]").val(),
          success:function(data){
              //console.log("data",data)
              if(data.result==0){
                invalid.sid=false;
                $this.successTip("Congrat! this sid has not been used!!!");
              }else if(data.result>0){
                invalid.sid=true;
                $this.dangerTip("Sorry! this sid has been used, please use another one!!!");
              }else{
                invalid.sid=true;
                $this.dangerTip("Sorry! Server error!!!");
              }
          } 
        })
      })

      // ----Validate name
      $("#nameTxt").blur(function(){
        var _name=$(this).val();
        console.log("_name",_name);

        if(/^([\u4e00-\u9fa5]{2,20}|[a-zA-Z.\s]{2,20})$/.test(_name)){
          invalid.name=false;
          $(this).successTip("Success, name correct!!!");
        }else{
          invalid.name=true;
          $(this).dangerTip("Name only can be chinese and english(2-20 chars), and the notation only can be dot and space!!!");
          //this.alertTip()
        }
        console.log("_name",invalid.name);
      })

      // ----Validate grade
      $("#gradeSelect").change(function(){
        var _gradeSelect=$(this).val();
        console.log("_gradeSelect",_gradeSelect);

        if(_gradeSelect){
          invalid.grade=false;
          $(this).successTip("Success, grade selected!!!");
        }else{
          invalid.grade=true;
          $(this).dangerTip("Please select your grade!");
          //this.alertTip()
        }
        console.log("_name",invalid.name);
      })

      // ----Validate password
      $("#passwordTxt").change(function(){
        var _password=$(this).val();
        console.log("_password",_password);

        if(checkStrength(_password) >= 3){
          invalid.password=false;
          $(this).successTip("Success, you have a good password now!");
        }else{
          invalid.password=true;
          $(this).dangerTip("The password need contain capital,minuscule and notations, at least 6 charactors!");
          //this.alertTip()
        }
        console.log("_name",invalid.name);
      })
      function checkStrength(password){
        var lv = 0;
        if(password.match(/[a-z]/g)){lv++;}
        if(password.match(/[0-9]/g)){lv++;}
        if(password.match(/(.[^a-z0-9])/g)){lv++;}
        if(password.length < 6){lv=0;}
        if(lv > 3){lv=3;}

        return lv;
    }



      // *************get if all fields with checkVaid attr is true, enable submitbtn**************
      $("[checkValid]").blur(function(){
        //console.log("haha")
        var allValid=true;
        console.log("allValid",allValid)
        for(var k in invalid){
            if(invalid[k]){
                allValid=false;
                break;
            }
        }
        if(allValid){
          $("#submitbtn").attr("disabled",false);
        }else{
          $("#submitbtn").attr("disabled",true);
        }

        console.log("invalid",invalid);
    })

    // liston all the field
    $("[checkValid]").bind("focus change",function(){// bind two events
        console.log(22222222222222222)
        $(this).clearTip();
    })
    

    //*************************
    $("#submitbtn").click(function(){
      var sid=$("#sidTxt").val();
      var name=$("#nameTxt").val();
      var grade=$("#gradeSelect").val();
      var password=$("#passwordTxt").val();

      $.post("/student",{
        sid:sid,
        name:name,
        grade:grade,
        password:password
      },function(data){
        console.log("data",data.result)
        var result=data.result;
        if(result==1){
          alert("add student success")
           //after post success, reset add page and...
           $("input[type=text]").val("");//empty all inputs
          //and set all 
          var invalid={
            "sid":true,
            "name":true,
            "grade":true,
            "password":true
          };
        }else if(result==-2){
          alert("You r trying to skip the front-end valitation, but the server discovers your sid is illegal!")
        }else if(result==-3){
          alert("You r trying to skip the front-end valitation, but the server discovers this sid has been used!")
        }else if(result==-4){
          alert("You r trying to skip the front-end valitation, but the server discovers your name is illegal!")
        }else if(result==-5){
          alert("You r trying to skip the front-end valitation, but the server discovers you havent select any grade!")
        }else if(result==-6){
          alert("You r trying to skip the front-end valitation, but the server discovers you pwd is not enough save!")
        }else{
          alert("Server error!")
        }
      })
    })

    </script>
  </body>
</html>
