<section id='sidebar'>
    <ul id='dock'>
      <li class='<% if(page=='index'){ %> active <% } %> launcher'>
        <i class='icon-sitemap'></i>
        <a href="/admin">Admin</a>
      </li>
      <li class='<% if(page=='student'){ %> active <% } %> launcher'>
        <i class='icon-group'></i>
        <a href="/admin/student">Student</a>
      </li>
      <li class='<% if(page=='course'){ %> active <% } %> launcher'>
        <i class='icon-table'></i>
        <a href="/admin/course">Course</a>
      </li>
      <li class='<% if(page=='report'){ %> active <% } %> launcher'>
        <i class='icon-renren'></i>
        <a href="/admin/report">Report</a>
      </li>
    </ul>
    <div data-toggle='tooltip' id='beaker' title='Made by lab2023'></div>
  </section>